{% load mezzanine_tags i18n %}
<form action="{% url "search" %}" class="form-inline my-2 my-lg-0" role="search">

<input class="form-control mr-sm-2" placeholder="{% trans "Search" %}" type="search" name="q" value="{{ request.GET.q }}">

{% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
    {% else %}
    <select class="form-control mr-sm-2" name="type">
        <option value="">{% trans "Everything" %}</option>
        {% for verbose_name, model in search_model_choices %}
        <option value="{{ model }}"
            {% if model == request.GET.type  %}selected{% endif %}>
            {{ verbose_name }}
        </option>
        {% endfor %}
    </select>
    {% endif %}
{% endif %}

<button type="submit" class="btn btn-outline-success my-2 my-sm-0"> {% trans "Go" %} </button>

</form>
